.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* App Styling */


/* Admin Nav Styling */
.admin-nav{
    background-color: #538ac6;
    color: #fff;
    padding:40px 0;
}
.admin-nav-a {
    padding:10px 15px;
    color:#e5e5e5;
    display:block;
    text-decoration:none;
}
.admin-nav-a:hover {
    text-decoration:none;
    background-color:#b6c7dc;
    color:#777;
}

.admin-nav-a a{
    display: block;
}

.font-white{
    color:#fff !important;
}
.admin-nav-parent {
    width: 80%;
    float:right;
    padding: 10px 0 10px 15px;
    cursor:pointer;
    border-top:1px solid #fff;
}
.admin-nav-parent.first {
    border-top:none !important;
}
.admin-nav-parent i{
    margin-right:25px;
}

.admin-nav-parent:hover{
    background-color:#50b0c2;
}

.admin-nav-parent.active{
    background-color:#50c296;
}

.admin-nav-child{
    width:100%;
    padding:10px 15px;
}
.admin-nav-child a{
    width:100%;
    display:block;
    padding: 5px;
    color:#fff;
    text-decoration:none;
}
.admin-nav-child a:hover{
    text-decoration:none;
    color:#fff;
}
.admin-nav-child a:hover:before { 
    content:"\203A";
    margin-left: -10px;
    padding-right: 5px;
}

.admin-nav-child a.active:before { 
    content:"\203A";
    margin-left: -10px;
    padding-right: 5px;
}

.side-space-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.padding-20{
    padding:20px;
}

.page-title{
    font-size:xx-large;
}

.icon-bg{
color:#538ac6;
}
.icon-bg:hover{
color:#50b0c2;
}

.icon-color{
    color:#fff;
}

.cursor-pointer{
    cursor:pointer;
}
.border-bottom{
    border-bottom:1px solid #e5e5e5;
}

.admin-page-error {
background-color:#ecd989;
color:#000;
padding:5px 20px;
font-size:small;
}

.fa-stack-1x-f {
    line-height:30px !important;
}

thead {
background-color:#538ac6;
color:#fff;
}

.action-col{
    width:150px;
}

.icon-col{
    width:100px;
}

.color-col {
    width:150px;
}

.round-corners{
    -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
}

.icon-thumbs{
    height:28px;
    width:28px;
}

.color-thumbs{
    height:28px;
    width:28px;
    display:inline-block;
    margin-right:10px;
}

.code-text{
    font-style:italic;
    color:coral;
    background-color:#f0f0f0;
    padding:2px 5px;
    font-size:x-small;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.code-text-adjustment{
    vertical-align:super;
}
/* End App Styling */


/* Overwrites */
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
background-color:#538ac6;
border-color:#538ac6;
}
/* End Overwrites */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1040px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
