<div class="main">
    <div class="admin-page-error" ng-show="adminCat.hasError">{{adminCat.errorMessage}}</div>
    <div ng-hide="adminCat.hasError">
    <div class="row" ng-show="adminCat.production">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <div class="category-list">
                <div class="item" ng-class="{'active': main.activeCategory === category.Name}" ng-style="{'border-left-color' : category.Color}" ng-repeat="category in main.categoryList | orderBy:'Name'"><span ng-click="main.changeCategory(category)">{{category.Name}}</span></div>
            </div>
        </div>
        
    </div>
    <div class="promo">

    </div>
        <div class="promo-controls">

        </div>

    </div>

</div>




