<div class="row no-gutter">
    <div class="col-md-2">
        <div ng-include="'components/nav/admin_nav.html'" class="relative"></div>
    </div>
    <div class="col-md-10">
        <div class="admin-page-error" ng-show="adminPaymentMethod.hasError">{{adminPaymentMethod.errorMessage}}</div>
        <div ng-hide="adminPaymentMethod.hasError">
            <div class="padding-20 border-bottom">
                <div class="col-md-6 page-title">
                    Payment Methods
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-lg icon-bg pull-right" title="Add new item" ng-click="adminPaymentMethod.openAddDialog()">
                        <i class="fa fa-circle fa-stack-2x cursor-pointer"></i>
                        <i class="fa fa-plus fa-stack-1x icon-color cursor-pointer"></i>
                    </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="padding-20">
                <div class="row no-gutter">
                <div class="col-md-3 pull-right">
                    <div class="padding-20">
<input type="text" placeholder="search..." class="form-control" ng-model="adminPaymentMethod.searchText"/>
                    </div>
                
                </div>
                    <br />
                </div>
                
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td><a ng-click="adminPaymentMethod.sortBy('Name')" >Name <span ng-if="adminPaymentMethod.isSorted"><i class="fa fa-caret-down" ng-if="adminPaymentMethod.sortByName"></i><i class="fa fa-caret-up" ng-if="!adminPaymentMethod.sortByName"></i></span></a></td>
                            <td class="icon-col">Icon</td>
                            <td class="action-col">Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in adminPaymentMethod.filterData = (adminPaymentMethod.list | filter:{Name : adminPaymentMethod.searchText})  | limitTo:adminPaymentMethod.pageSize:adminPaymentMethod.pageSize*(adminPaymentMethod.currentPage-1)">
                           <td>{{item.Name}}</td>
                            <td class="text-center"><img ng-src="{{adminPaymentMethod.getImageFromByte(item.Icon)}}" alt="" class="icon-thumbs round-corners"/></td>
                            <td>      
                                
                                <span class="fa-stack fa-md icon-bg pull-right" title="Edit item" ng-click="adminPaymentMethod.openEditDialog(item)">
                                    <i class="fa fa-circle fa-stack-2x cursor-pointer"></i>
                                    <i class="fa fa-pencil  fa-stack-1x fa-stack-1x-f icon-color cursor-pointer"></i>
                                </span>                          
                                <span class="fa-stack fa-md icon-bg pull-right" title="Delete item" ng-click="adminPaymentMethod.openDeleteDialog(item)">
                                    <i class="fa fa-circle fa-stack-2x cursor-pointer"></i>
                                    <i class="fa fa-trash  fa-stack-1x fa-stack-1x-f icon-color cursor-pointer"></i>
                                </span>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination boundary-links="true" total-items="adminPaymentMethod.filterData.length" items-per-page="adminPaymentMethod.pageSize" ng-model="adminPaymentMethod.currentPage" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>            
        </div>
       
    </div> 
</div>



<script type="text/ng-template" id="item.html">
    <modal-dialog dialog-title="ctrl.title" action-name="{{ctrl.actionName}}" data-ng-action-method="ctrl.actionMethod()" data-close="ctrl.cancel()" data-error-message="ctrl.errorMessage" data-is-loading="ctrl.isLoading">
    
    <div class="form-group">
    <div class="row">
            <div class="col-md-12">
                <label>Name *</label>
                <textbox-limiter max="30" class="form-control" ng-model="ctrl.name"></textbox-limiter>
            </div>
    </div>
    </div>
    <div class="form-group">
    <div class="row">
            <div class="col-md-12">
                <label>Description</label>
                <textarea-limiter rows="5" max="200" class="form-control auto-height" ng-model="ctrl.description"></textarea-limiter>
            </div>
    </div>
    </div>
    <div class="form-group">
    <div class="row">
            <div class="col-md-6">
                <label>Icon *</label>
                <image-upload image-height="150" ng-model="ctrl.addImage" mode="md" src="ctrl.uploadImage"></image-upload>
            </div>
                   
    </div>
    </div>
</modal-dialog>
</script>







