<div class="image-upload">
    <input type="file" id="file" class="hide" onchange="angular.element(this).scope().loadImage(this)"/>
    <div ng-show="mode==='md'" class="md corners-5-top">
        <div id="img-node" class="image-upload-image-md corners-5-top" ng-style="{'height' : imageHeight + 'px', 'background-image': src }"></div>
    <div class="image-upload-btn-md cursor-pointer text-center" ng-click="showFile()">
        <b><span class="fontColorLightBlue cursor-pointer">Choose an image from your computer</span></b><br />
        <span class="fontColorGrey font-small cursor-pointer">PNG, JPEG, BMP or GIF * file limit 10MB</span><br />
        <span class="fontColorGrey font-small cursor-pointer">Recommended size is 800x480 * aspect ratio 4:3</span>
    </div>
    </div>
</div>
